.btn
  background-color: #FFC066
  border: none
  border-radius: 50px
  color: #FFF
  display: inline-block
  font-family: $font-family
  font-size: modular-scale(16px, 0, 1.333)
  min-width: 150px
  padding: 10px 20px
  position: relative
  text-align: center
  text-decoration: none

  &:hover
    background-color: darken(#FFC066, 10%)
    cursor: pointer
    text-decoration: none

.btn-right
  float: right

.btn-x
  background-color: #EF4836
  min-width: 0

  &:hover
    background-color: #F22613

.btn-toggle
  span
    display: none

  .active
    display: inline

