.activity-list
  list-style: none

  li
    @include clearfix
    background-color: #fff
    border: 1px solid #e5e5e5
    border-radius: 4px
    padding: 15px
    position: relative

    & + li
      margin-top: 10px
