<div class="activity-header">
  <h1>Manage activities</h1>
  <a href="#" class="btn btn-right js-newActivity btn-toggle">
    <span class="active">NEW ACTIVITY</span>
    <span>X</span>
  </a>
</div>

<div class="new-activity">
  <%= render 'form' %>
</div>

<div class="activity-list">
  <% @activities.each do |activity| %>
  <div class="activity-list--item">
    <div class="activity-list--name"><%= markdown activity.name %></div>
    <small class="activity-list--date"><%= time_ago_in_words activity.start_date %></small>
    <span style="position:absolute;top:15px;right:15px;"><%= link_to 'delete', activity, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </div>
  <% end %>
</div>
